<mat-card>
  <mat-card-title-group>
    <mat-icon>construction</mat-icon>
    <mat-card-title>SKETCHES</mat-card-title>
  </mat-card-title-group>

  <mat-card-content>
    <mat-card-subtitle>Upload</mat-card-subtitle>

    <div fxLayout="row grow" fxLayoutAlign="space-between center" [formGroup]="form">
      <button id="choose-file" mat-stroked-button fxFlex="30" color="primary" (click)="fileInput.click()">Choose File</button>
      <input id="file-input" type="file" formControlName="file" hidden #fileInput [accept]=zipType (change)="onFileUploaded($event)">

      <mat-form-field fxFlex="65">
        <mat-label>Sketch name</mat-label>
        <input id="sketch-name" matInput type="text" formControlName="name" (change)="onNameChanged($event)">
        <mat-error *ngIf="form.get('name').hasError('required')">
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <button id="submit" mat-raised-button fxFlex="85" color="primary" *ngIf="!loading" [disabled]="!enableSubmitButton()" (click)="uploadSketch()">Submit</button>
      <div *ngIf="loading" fxFlex="85" fxLayoutAlign="center">
        <mat-spinner [diameter]="30"></mat-spinner>
      </div>

      <button id="clear" mat-icon-button color="warn" matTooltip="Clear" [disabled]="!enableClearButton()" (click)="clearForm()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-content>

  <mat-card-content>
    <mat-card-subtitle>Your sketches</mat-card-subtitle>
    <mat-list>
      <mat-list-item *ngFor="let sketch of sketches; let i = index">
        <mat-checkbox id="{{'checkbox-' + sketch.name}}" (change)="selectSketch($event, sketch)">
          <span>{{sketch.name}}</span>
        </mat-checkbox>
        <span class="spacer"></span>
        <button id="{{'fly-to-' + sketch.name}}" mat-icon-button color="primary" matTooltip="Fly to sketch" (click)="flyToSketch(sketch)">
          <mat-icon>near_me</mat-icon>
        </button>
        <button id="{{'delete-' + sketch.name}}" mat-icon-button color="warn" matTooltip="Delete" (click)="deleteSketch(sketch)">
          <mat-icon>delete</mat-icon>
        </button>
        <mat-divider *ngIf="i + 1 < sketches.length"></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
