<app-particles [id]="'login-particles'" class="background"></app-particles>

<div class="overlay" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2%">
  <p>Sketch Map</p>
  <app-login></app-login>
</div>
