<mat-card>
  <mat-card-title-group>
    <mat-icon>engineering</mat-icon>
    <mat-card-title>DEVELOPER TOOLS</mat-card-title>
  </mat-card-title-group>
  <mat-card-content>

    <!-- region Notifications -->
    <mat-card-subtitle>Notifications</mat-card-subtitle>
    <div fxLayout="row wrap" fxLayoutGap="5%" fxLayoutAlign="stretch center">
      <button mat-raised-button (click)="showNotification('default', 'Default notification')">Notify me!</button>
      <button mat-raised-button (click)="showNotification('info', 'Info notification')">Info me!</button>
      <button mat-raised-button (click)="showNotification('success', 'Success notification')">Success me!</button>
      <button mat-raised-button (click)="showNotification('warning', 'Warning notification')">Warning me!</button>
      <button mat-raised-button (click)="showNotification('error', 'Error notification')">Error me!</button>
    </div>
    <!-- endregion -->


    <!-- region Progress animations -->
    <mat-card-subtitle>Progress animations</mat-card-subtitle>
    <div fxLayout="row wrap" fxLayoutGap="5%" fxLayoutAlign="stretch center">
      <button mat-raised-button (click)="showSpinner = !showSpinner">Spinner me!</button>
      <mat-spinner *ngIf="showSpinner" diameter="36"></mat-spinner>

      <button mat-raised-button (click)="showBar = !showBar">Bar me!</button>
      <mat-progress-bar *ngIf="showBar" mode="indeterminate"></mat-progress-bar>
    </div>
    <!-- endregion -->


    <!-- region Dialogs -->
    <mat-card-subtitle>Dialogs</mat-card-subtitle>
    <div fxLayout="row wrap" fxLayoutGap="5%" fxLayoutAlign="stretch center">
      <button mat-raised-button (click)="showDialog('confirmation')">Confirmation</button>
      <button mat-raised-button (click)="showDialog('user')">User</button>
    </div>
    <!-- endregion -->

  </mat-card-content>
</mat-card>
