<mat-toolbar color="primary">
  <mat-toolbar-row>

    <button id="home-btn" mat-button routerLink="/home" matTooltip="Home">
      <h1>Sketch Map</h1>
    </button>

    <span class="spacer"></span>

    <button id="help-btn" mat-button matTooltip="Help" (click)="dev()">
      <mat-icon>help</mat-icon>
    </button>

    <button id="menu-btn" mat-button matTooltip="User options" [matMenuTriggerFor]="userMenu">
      <mat-icon>account_circle</mat-icon>
      <span> {{ user?.username }} </span>
    </button>

    <mat-menu #userMenu="matMenu">
      <button id="profile-btn" mat-menu-item (click)="dev()">
        <span>Profile</span>
      </button>
      <button id="admin-btn" mat-menu-item routerLink="/admin" *ngIf="user?.admin">
        <span>Admin page</span>
      </button>
      <button id="error-btn" mat-menu-item routerLink="/error" *ngIf="user?.admin">
        <span>Error page</span>
      </button>
      <button id="logout-btn" mat-menu-item (click)="doLogout()">
        <span>Logout</span>
      </button>
    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>

