<mat-card>
  <mat-card-title-group>
    <mat-icon>group</mat-icon>
    <mat-card-title> USER ADMIN </mat-card-title>
  </mat-card-title-group>

  <mat-card-content>

    <div fxLayout="row" fxLayoutAlign="space-between">
      <mat-form-field fxFlex="60">
        <input id="search-input" matInput (keyup)="applyFilter($event)" placeholder="Search">
      </mat-form-field>
      <button id="create-user-btn" mat-raised-button color="primary" fxFlex="10" (click)="createUser()">Create</button>
    </div>

    <mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.id}} </mat-cell>
      </ng-container>

      <!-- Username Column -->
      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Username </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.username}} </mat-cell>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
      </ng-container>

      <!-- Admin Column -->
      <ng-container matColumnDef="admin">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Admin </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.admin}} </mat-cell>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef="let user">
          <button id="{{user.username}}-edit-btn" mat-icon-button matTooltip="Edit" (click)="editUser(user)">
            <mat-icon>create</mat-icon>
          </button>
          <button id="{{user.username}}-delete-btn" mat-icon-button color="warn" matTooltip="Delete" (click)="deleteUser(user)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let user; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

  </mat-card-content>
</mat-card>
