<div mat-dialog-title> {{data.title}} </div>


<div mat-dialog-content [formGroup]="form" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between">

  <mat-form-field appearance="outline" fxFlex="49">
    <mat-label>Username</mat-label>
    <input matInput id="username" formControlName="username">
    <mat-error *ngIf="form.get('username').hasError('required')">
      Username is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" fxFlex="49">
    <mat-label>Email</mat-label>
    <input matInput id="email" formControlName="email">
    <mat-error *ngIf="form.get('email').hasError('email') && !form.get('email').hasError('required')">
      Please enter a <strong>valid</strong> email address
    </mat-error>
    <mat-error *ngIf="form.get('email').hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" fxFlex="49" *ngIf="showPasswordFields()">
    <mat-label>Password</mat-label>
    <input matInput id="password" formControlName="password" type="password">
    <mat-error *ngIf="form.get('password').hasError('pattern') && !form.get('password').hasError('required')">
      Password must be 8-30 characters long with lowercase, uppercase and numbers
    </mat-error>
    <mat-error *ngIf="form.get('password').hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" fxFlex="49" *ngIf="showPasswordFields()">
    <mat-label>Confirm password</mat-label>
    <input matInput id="confirm-password" formControlName="confirmPassword" type="password">
    <mat-error *ngIf="form.get('confirmPassword').hasError('equals') && !form.get('confirmPassword').hasError('required')">
      Passwords must match
    </mat-error>
    <mat-error *ngIf="form.get('confirmPassword').hasError('required')">
      Confirm password is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" fxFlex="100" *ngIf="showAdminFields()">
    <mat-label>Account type</mat-label>
    <mat-select id="admin-select" formControlName="admin">
      <mat-option id="user-option" [value]="false">User</mat-option>
      <mat-option id="admin-option" [value]="true">Admin</mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('admin').hasError('required')">
      Account status is <strong>required</strong>
    </mat-error>
  </mat-form-field>

</div>


<div mat-dialog-actions>
  <button mat-button color="primary" id="decline-btn" (click)="onDeclineButton()">{{data.declineText}}</button>
  <button mat-button color="primary" id="confirm-btn" (click)="onConfirmButton()" [disabled]="hasAnyError()">{{data.confirmText}}</button>
</div>
