<mat-card>
  <mat-card-title class="h-center">LOG IN</mat-card-title>

  <mat-card-content>
    <form [formGroup]="loginForm" fxLayout="column" fxLayoutAlign="center">

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input id="email-input" matInput formControlName="email">
        <mat-error *ngIf="loginForm.get('email').hasError('email') && !loginForm.get('email').hasError('required')">
          Please enter a <strong>valid</strong> email address
        </mat-error>
        <mat-error *ngIf="loginForm.get('email').hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input id="password-input" matInput formControlName="password" type="password" (keyup.enter)="doLogin()">
        <mat-error *ngIf="loginForm.get('password').hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>

    </form>


    <div fxLayout="column" fxLayoutGap="2%" fxLayoutAlign="center">
      <button id="login-btn" mat-raised-button color="primary" [disabled]="hasAnyError()" (click)="doLogin()">Log in</button>
      <div fxLayout="row wrap" fxLayoutAlign="space-between">
        <button id="forgot-password-btn" mat-button fxFlex="49" (click)="doForgotPassword()">Forgot your password?</button>
        <button id="create-account-btn" mat-button color="primary" fxFlex="49" (click)="doSignUp()">Create an account</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
