<mat-card>
  <mat-card-title-group>
    <mat-icon>layers</mat-icon>
    <mat-card-title>LAYERS</mat-card-title>
  </mat-card-title-group>

  <mat-card-content>
    <mat-card-subtitle>Switch layer</mat-card-subtitle>
    <mat-radio-group fxLayout="row" fxLayoutAlign="space-around center" (change)="switchLayer($event)">
      <mat-radio-button *ngFor="let style of styles"
                        [id]="style.name + '-checkbox'"
                        [value]="style"
                        [checked]="style.name === 'Dark'">{{style.name}}</mat-radio-button>
    </mat-radio-group>
  </mat-card-content>
</mat-card>
