<app-particles [id]="'error-particles'" class="background"></app-particles>

<div class="overlay" fxLayout="column" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-title>
      <mat-icon>mood_bad</mat-icon>
      <p>OH NO!</p>
    </mat-card-title>
    <mat-card-content fxLayout="column" fxLayoutAlign="center" fxLayoutGap="5%">
      <p>This is an error page, but don't be afraid, you can play with the particles or return to home</p>
      <button mat-raised-button color="primary" routerLink=""> Go home </button>
    </mat-card-content>
  </mat-card>
</div>
