<app-navbar></app-navbar>

<div class="page-padding" fxLayout="row wrap">

  <div fxFlex="70" fxFlex.xs="100">
    <app-map id="map"></app-map>
  </div>

  <div fxFlex="30" fxFlex.xs="100">
    <app-layers></app-layers>
    <app-sketches></app-sketches>
  </div>

</div>
