/* You can add global styles to this file, and also import other style files */


// Imports

@import "~angular-notifier/styles.scss";
@import '~@angular/material/theming';


// Overwritten theme

@include mat-core();
$primary: mat-palette($mat-deep-purple);
$accent: mat-palette($mat-yellow, 700, 100, A100);
$warn: mat-palette($mat-red, 400, 100, A100);

$light-theme: mat-light-theme($primary, $accent, $warn);
$dark-theme: mat-dark-theme($primary, $accent, $warn);
@include angular-material-theme($light-theme);

$purple-background: mat-color($primary, 400);
$white-background: #f5f5f5;



// Overwritten styles

mat-card {
  padding: 1em !important;
  margin: 1em !important;
  border-radius: 1em !important;
}

mat-card-title {
  color: mat-color($primary);
}

mat-card-actions {
  margin: 0 !important;
  padding: 0 !important;
}

mat-spinner {
  align-self: center;
}

mat-dialog-container {
  min-width: 25em;
  max-width: 60em;
  border-radius: 1em !important;
}

.mat-dialog-title, .mat-dialog-actions {
  color: mat-color($primary) !important;
  justify-content: center !important;
  display: flex !important;
}



// General styles

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: $white-background;
}

.page-padding {
  padding: 4vh 2vw;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spacer {
  flex: 1 1 auto;
}
