<div mat-dialog-content>
  <p>{{data.text}}</p>
</div>

<div mat-dialog-actions>
  <button mat-button color="primary" id="decline-btn" (click)="onDeclineButton()">{{data.declineText}}</button>
  <button mat-button color="primary" id="confirm-btn" (click)="onConfirmButton()">{{data.confirmText}}</button>
</div>

